extends ../layout
block content
  .container
    .row

        .col-md-7
          embed(src="#{movies[0].flash}",allowFullScreen="true",quality="hight",width="720",height="600",align="middle",type="application/x-shockwave-flash")
        .col-md-5
          dl.dl-horizontal
            dt 电影名字
            dd= movies[0].title
            dt 导演
            dd= movies[0].doctor
            dt 国家
            dd= movies[0].country
            dt 语言
            dd= movies[0].language
            dt 上映年份
            dd= movies[0].year
            dt 介绍
            dd= movies[0].summary

